
/* VARIABLES
******************************************************************************/
$color-text-primary:  #000000;
$width-large:         1125px;
$width-max-phone:     600px;
$width-max-tablet:    1125px;
$image-logo:          url(../images/header-logo.png);

/* MIXINS
******************************************************************************/
@mixin image-button ($url, $width, $height, $background-size: $width, $background-left: 0px, $background-right: 0px) {
  display: inline-block;
  width: $width;
  height: $height;
  background-image: $url;
  background-repeat: no-repeat;
  background-size: $background-size;
  background-position: $background-left $background-right;
  text-indent: -9999px;
}
@mixin animation-fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* PARTIALS
******************************************************************************/
%shadow-dark-text {
  text-shadow: 0px 2px 1px rgba(0,0,0,0.75);
}

/* GENERAL STYLES
******************************************************************************/
@import "reset";
@import "general";
@import "structure";

/* TEMPLATE ELEMENTS
******************************************************************************/
@import "header";
@import "footer";

/* RESPONSIVE ADJUSTMENT
******************************************************************************/
@import "phone";
@import "tablet";

/* ANIMATIONS
******************************************************************************/
@-webkit-keyframes menuFadeIn {
  @include animation-fade-in;
}
@keyframes menuFadeIn {
  @include animation-fade-in;
}
